
<div class="container">
  <div class="row">
      <div class="form-inputs">
        <%= simple_form_for @car do |f| %>
        <div class="col-sm-offset-4 col-sm-4">
        <%= f.input :title %>
        <%= f.input :brand %>
        <%= f.input :model %>
        <%= f.input :year %>
        <%= f.input :color %>
        <%= f.input :location %>
        <%= f.input :price %>
        <%= f.file_field  :photos, multiple: true %>
        <div class="form-actions">
        <%= f.submit class: "btn btn-primary" %>
        </div>
        <% end %>
     </div>
    </div>
  </div>
</div>
