<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <%= image_tag "carlogo.png" %>
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

  <div class="navbar-wagon-item navbar-wagon-link">
    <%= link_to "Add a new car", new_car_path, class: "btn btn-success" %>
    <% if current_user == nil %>
      <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-danger" %>
      <%= link_to "Sign In", new_user_session_path, class: "btn btn-primary" %>
    <% else %>

      </div>

      <!-- Profile picture with dropdown list -->
      <div class="navbar-wagon-item">
        <div class="dropdown">

        <% if current_user.photo == nil %>
        <img src='https://www.freeiconspng.com/uploads/user-login-icon-14.png' class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
        <% else %>
        <!-- <div class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown"> -->
        <%= cl_image_tag current_user.photo,  {id: "navbar-wagon-menu", class: "avatar dropdown-toggle", data: {toggle: :dropdown}} %>
        <!-- </div> -->
        <% end %>

    <% end  %>

        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><%= link_to "My Profile", profile_path %></li>
          <li><%= link_to('Logout', destroy_user_session_path, method: :delete) %> </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fas fa-bars dropdown-toggle" data-toggle="dropdown" role="button"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Host</a></li>
        <li><a href="#">Trips</a></li>
        <li><a href="#">Messagese</a></li>
      </ul>
    </div>
  </div>
</div>
