<h1>Cars in your Location</h1>

<br>

<div>
  <%= link_to "Add a new Car", new_car_path, class: "btn btn-primary"%>
</div>

<br>

<div class="container">
  <div class="row">

    <% @cars.each do |car| %>
    <%= link_to car_path(car) do  %>
    <div class="col-xs-12 col-md-6">
    <% if car.photos.first == nil  %>
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://www.cookandreevesvans.com/static/img/default-car.jpg');">
      <% else %>
      <% photo = cl_image_path car.photos.first.picture, height: 175, crop: :fill  %>
    <% end  %>

      <div class="card-category">
        <h4><%= car.location%></h4>
      </div>
      <br>
      <div class="row">
        <% @cars.each do |car| %>
        <div class="col-xs-12 col-sm-6 col-md-6">

          <%= link_to car_path(car) do  %>
          <!-- <div class="col-xs-12 col-sm-6 col-md-4""> -->
            <% if car.photos.first == nil  %>
              <% photo = 'http://www.cookandreevesvans.com/static/img/default-car.jpg' %>
            <% else %>
              <% photo = cl_image_path car.photos.first.picture, height: 175, crop: :fill  %>
            <% end  %>
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= photo %>')">
              <div class="card-category">
                <h5><%= car.location%></h5>
              </div>
              <div class="card-description">
                <h2><%= car.brand %></h2>
                <p><%= car.model%></p>
              </div>
            </div>
          <% end %>
        </div>
        <% end %>
      </div>
    </div>
    <div
    id="map"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
<!-- </div>
</div> -->
