<div class="container"></div>
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://www.visitcalifornia.com/sites/default/files/styles/welcome_image/public/VCW_TI_6_Hero_CC_BigSur_coast_TS_1280x642_0.jpg');">
  <div id="container" class= "banner-photo-show" style='text-align: center'>
    <% if current_user == @car.user %>
    <% else %>
    <h1> Your Dream Car</h1>
    <p id="book_btn">Your booking starts on <%= @starts_at %> and ends on <%= @ends_at %></p>
    <p style="text-align:center" class="btn">
      <%= link_to "Book now", "", class: "btn btn-primary" %>
    </p>
    <% end  %>
    <div class="content" style="text-align:center;" >
      <h1 class=><%= @car.model %></h1>
      <p>_______________________</p>
      <ul id= "uo_show" style="list-style: none;"  >
        <li>Title: <%= @car.title %></li>
        <li>Brand: <%= @car.brand %></li>
        <li>Year: <%= @car.year %></li>
        <li>Color: <%= @car.color %></li>
        <li>Location: <%= @car.location %></li>
        <li> Price: $<%= @car.price %></li>
      </ul>
    </div>
    <div style="text-align:center" class="btn">
      <%= link_to "Back to all Cars", cars_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>
