<div class= "banner-photo-show">
  <h1> <%=  @car.model %> </h1>
</div>
        <%= @car.model %>
        <br>
        <%= @car.brand %>
        <br>
        <%= @car.year %>
        <br>
        <%= @car.location %>
        <br>
        <%= @car.color %>
        <br>

<div class= "banner-photo-show">
  <h1> SHOW PAGE</h1>
</div>

<div class="container" style="text-align:center">
  <div class="row">
   <div class="col-xs-12 col-md-6">

      <h1 class=><%= @car.model %></h1><br>
      <!-- <p><%= car.model %></p> -->
      <p><%= @car.brand %></p>
      <p><%= @car.year %></p>
      <p><%= @car.color %></p>
      <p><%= @car.location %></p>
      <p><%= @car.price %></p>

      <div style="text-align:center" class="btn btn-success">
        <%= link_to "Back to all Cars", cars_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>


