<div class= "banner-photo-show">
  <h1> <%=  @car.model %> </h1>
</div>
        <%= @car.model %>
        <br>
        <%= @car.brand %>
        <br>
        <%= @car.year %>
        <br>
        <%= @car.location %>
        <br>
        <%= @car.color %>
        <br>



