<div class= "banner-photo-show">
  <h1> <%=  @car.model %> </h1>
</div>
        <%= @car.model %>
        <br>
        <%= @car.brand %>
        <br>
        <%= @car.year %>
        <br>
        <%= @car.location %>
        <br>
        <%= @car.color %>
        <br>


<div class="container" style="text-align:center">
  <div class="row">
   <div class="col-xs-12 col-md-6">

    <h1 class=><%= @car.title %></h1><br>

        <%= simple_form([ @car, @current _user ]) do |form| %>
        <%= form.association :model %>
        <%= form.association :brand %>
        <%= form.association :year %>
        <%= form.association :color %>
        <%= form.association :location %>
        <%= form.association :price %>
        <%= form.button :submit, class: "btn btn-success" %>
        <% end %>

      <div style="text-align:center" class="btn btn-success">
        <%= link_to "Back to all Cars", cars_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
