<%= link_to profile_path do %>
  <i class="fas fa-arrow-left"> Back To Profile</i>
<% end %>

<h1>THIS PAGE DISPLAY ALL THE CARS BOOKED BY THE USER</h1>

<div class="container">
  <div class="row">
    <% @bookings.each do |booking| %>
      <div class="col-xs-12 col-md-6">
        <p>Start Date: <%= booking.start_date %> </p>
        <p>Start Date: <%= booking.end_date %> </p>
        <p>Car: <%= booking.car.title %></p>
        <p>Owner : <%= booking.car.user.email %></p>
      </div>
    <% end %>
  </div>
</div>
