  <div class="container profile-action">
    <div class="row">
      <div class="col-xs-12 col-md-6 col-lg-4">
        <%= link_to "My Bookings", profile_my_bookings_path, class: "btn btn-navigation" %>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-4">
        <%= link_to "My Cars", profile_my_cars_path, class: "btn btn-navigation" %>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-4">
        <%= link_to "My Trips", profile_my_trips_path, class: "btn btn-navigation" %>
      </div>
    </div>
  </div>

<div class="container-profile">
  <div class="row">
    <div class="col-md-6 img">
      <% if @user.avatar_url == nil %>
        <img src='https://www.freeiconspng.com/uploads/user-login-icon-14.png' style="height:150px;">
        <% else %>
        <img src=<%= @user.avatar_url %>>
      <% end %>
    </div>
      <div class="col-md-6 details">
      <blockquote>
        <h5><%= @user.username %></h5>
      </blockquote>
      <p>
        First Name: <%= @user.first_name %><br>
        Last Name : <%= @user.last_name %><br>
        Phone Number : <%= @user.phone_number %><br>
        Email : <%= @user.email %><br>
      </p>
      <button> Edit Profile    <i class="far fa-edit"></i></button>
    </div>
  </div>
</div>



