<%= link_to profile_path do %>
  <i class="fas fa-arrow-left"> Back To Profile</i>
<% end %>

<h4>THIS PAGE DISPLAY ALL THE CARS BOOKED BY THE USER</h4>


<div class="container">
  <div class="row">
    <% @bookings.each do |booking| %>
      <div class="card-booking col-xs-12 col-md-6">
      <div class="card-booking" style="background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.3)), url('https://www.supercars.net/blog/wp-content/uploads/2017/02/Porsche-Panamera-Turbo-hd-wallpaper.gif');">
        <h3><%= booking.car.title %></h3>
        <ul>
        <li>Start Date: <%= booking.start_date %> </p>
        <li>Start Date: <%= booking.end_date %> </p>

        <li>Owner : <%= booking.car.user.email %></p>
        <li>Booking Confirmed : <%= booking.validated %></p>
        <%= link_to booking_path(booking.id) do %>
          <li>See Details</li>
        <% end %>
      </ul>
      </div>
      </div>
    <% end %>
  </div>
</div>
